#game {
    display: none;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 40vh;
}

#gameLevel {
    width: 60vw;
    background-color: indigo;
}

#gameScene {
    width: 60vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameDisplayEnemy {
    width: 150px;
    height: 150px;
}

#gameHud {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gameEnemyHealth {
    width: 29vw;
    background-color: brown;
}

#gameMistakes {
    width: 14vw;
    background-color: chocolate;
}

#gameTimer {
    width: 14vw;
    background-color: cornflowerblue;
}

#gameText {
    width: 60vw;
    background-color:darkslategray;
    text-align: start;
}

#failKey {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    visibility: hidden;
    width: 100%;
    height: 100vh;
}